<%- include('./partials/header') %>

    <h1>
        <%= postTitle %>
    </h1>
    <p>

        <% console.log(postBody.length) %>
            <%= postBody %>
    </p>

    <%- include('./partials/footer') %>
        </body>